/*
html, body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}
*/
.dropdown-submenu:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  margin-left: 4rem;
}

.container {
  flex: 1;
}

.card img {
  border-bottom: 1px solid #ddd;
}
.card-title {
  font-weight: 600;
  font-size: 1.1rem;
}
.card-text {
  font-size: 0.9rem;
  color: #555;
}

.carta-tarot {
  transition: transform 1s ease, opacity 1s ease;
  transform: rotate(180deg);
  opacity: 0;
}

.mostrar-carta {
  transform: rotateY(0);
  opacity: 1;
}
