/*
html, body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}
*/
.dropdown-submenu:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  margin-left: 4rem;
}

.container {
  flex: 1;
}

.card img {
  border-bottom: 1px solid #ddd;
}
.card-title {
  font-weight: 600;
  font-size: 1.1rem;
}
.card-text {
  font-size: 0.9rem;
  color: #555;
}

.carta-tarot {
  display: inline-block;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 1s ease, transform 0.8s ease;
}

/* Aparece suavemente con un leve zoom */
.mostrar-carta {
  opacity: 1;
  transform: scale(1);
}

/* Carta al derecho */
.derecha.mostrar-carta {
  transform: rotateY(0deg);
}

/* Carta al revés */
.reves.mostrar-carta {
  transform: rotate(180deg); /* gira verticalmente */
}

/* Resplandor místico opcional */
.mostrar-carta {
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.4);
}